@charset "UTF-8";
@use "sass:math";

$baseColor: #356ce2;
$subColor: #b9b9b9;

$progressContainerWidth: 3em;
$pointSize: 20px;


%st-line {
    position: absolute;
    top: 0;
    left: math.div($progressContainerWidth, 2);
    transform: translateX(-50%);
    height: 100%;
    width: 2px;
}

%st-point {
    position: absolute;
    top: 2.5em;
    left: math.div($progressContainerWidth, 2);
    transform: translate(-50%, -50%);
    width: $pointSize;
    height: $pointSize;
    border-radius: 50%;
}

%st-current-point {
    position: absolute;
    top: 0;
    left: 0;
    width: $pointSize;
    height: $pointSize;
    border-radius: 50%;
    content: "";
    background: $baseColor;
}

/* Timeline point */

.st-timeline .st-item-container .st-point {
    @extend %st-point;
    background: $subColor;
}

.st-timeline .st-item-container.st-current .st-point {
    @extend %st-point;
    background: $baseColor;
}

.st-timeline .st-item-container.st-current .st-point::after {
    @extend %st-current-point;
}

.st-timeline .st-item-container.st-current .st-point::before {
    @extend %st-current-point;
    animation: st-pulse 1.5s linear infinite;
}

.st-timeline .st-item-container.st-passed .st-point {
    @extend %st-point;
    background-color: $baseColor;
}

/* Line */

.st-timeline .st-item-container .st-line {
    @extend %st-line;
    background: $subColor;
}

.st-timeline .st-item-container.st-current .st-line {
    @extend %st-line;
    background: linear-gradient(180deg, $baseColor 0%, $baseColor 2em, $subColor 2em, $subColor 100%);
}

.st-timeline .st-item-container.st-passed-last .st-line {
    @extend %st-line;
    background: linear-gradient(180deg, $baseColor 0%, $baseColor 20%, $subColor 60%, $subColor 100%);
}

.st-timeline .st-item-container.st-passed .st-line {
    @extend %st-line;
    background-color: $baseColor;
}

/* non progress */
.st-timeline.st-no-progress .st-item-container .st-line {
    @extend %st-line;
    background: $baseColor !important;
}

.st-timeline.st-no-progress .st-item-container .st-point {
    @extend %st-point;
    background: $baseColor !important;
}

/* inverted progress */

.st-timeline.st-inverted-progress .st-item-container .st-point {
    @extend %st-point;
    background: $baseColor;
}

.st-timeline.st-inverted-progress .st-item-container.st-passed .st-point {
    @extend %st-point;
    background-color: $subColor;
}

.st-timeline.st-inverted-progress .st-item-container .st-line {
    @extend %st-line;
    background: $baseColor;
}

.st-timeline.st-inverted-progress .st-item-container.st-current .st-line {
    @extend %st-line;
    background: linear-gradient(180deg, $subColor 0%, $subColor 2em, $baseColor 2em, $baseColor 100%);
}

.st-timeline.st-inverted-progress .st-item-container.st-passed-last .st-line {
    @extend %st-line;
    background: linear-gradient(180deg, $subColor 0%, $subColor 20%, $baseColor 60%, $baseColor 100%);
}

.st-timeline.st-inverted-progress .st-item-container.st-passed .st-line {
    @extend %st-line;
    background-color: $subColor;
}

/* header */
.st-timeline .st-header {
    background: #356ce2;
    color: white;
    padding: 0 0.5em;
}

.st-timeline .st-footer {
    background: #356ce2;
    color: white;
    padding: 0 0.5em;
}

/* items */
.st-timeline .st-item-container {
    position: relative;
    margin: 0 auto;
}
.st-timeline .st-item-wraper {
    padding: 0.5em;
}
.st-timeline .st-item {
    position: relative;
    width: 100%;
    padding: 0.8em;
    background: white;
    border-color: white;
    color: #333333;
    box-shadow: 0 1px 2px 0 #cacaca;
}

/* 吹き出し */
.st-timeline .st-item:before {
    content: "";
    position: absolute;
    display: block;
    z-index: 1;
    border-style: solid;
    border-top-color: transparent;
    border-right-color: inherit;
    border-bottom-color: transparent;
    border-left-color: inherit;
    transform: translateY(-50%);

    border-width: 10px 10px 10px 0;
    top: 2em;
    left: -10px;
}
.st-timeline .st-right .st-item:before {
    border-width: 10px 10px 10px 0;
    right: inherit;
    left: -10px;
}
.st-timeline .st-left .st-item:before {
    border-width: 10px 0 10px 10px;
    right: -10px;
    left: inherit;
}
.st-timeline.st-left-line .st-item:before {
    border-width: 10px 10px 10px 0;
    right: inherit;
    left: -10px;
}
.st-timeline.st-right-line .st-item:before {
    border-width: 10px 0 10px 10px;
    right: -10px;
    left: inherit;
}



.st-timeline .st-item-container.st-current .st-datetime {
    font-weight: bold;
}

.st-timeline .st-item-container.st-current .st-datetime::before {
    content: "Today";
    color: white;
    background: $baseColor;
    border-radius: 5px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0.3em;
}

.st-timeline .st-item .st-datetime {
    margin-block-start: 0em;
    margin-block-end: 0.3em;
}

.st-timeline .st-item .st-title {
    font-weight: bold;
    border-bottom: solid 1px $baseColor;
}

.st-timeline .st-item .st-content {
    font-size: 0.9em;
}

/* ライン位置 */
.st-timeline .st-item-container {
    grid-template-columns: $progressContainerWidth 1fr;
    display: grid;
}
.st-timeline.st-right-line .st-item-container {
    grid-template-columns: 1fr $progressContainerWidth;
    display: grid;
}
.st-timeline.st-center-line .st-item-container {
    grid-template-columns: 1fr $progressContainerWidth 1fr;
    display: grid;
}

/* アイテム配置カラム LEFT(Default) */
.st-timeline .st-progress-wraper {
    position: relative;
    grid-column: 1;
    grid-row: 1;
}
.st-timeline .st-item-wraper {
    grid-column: 2;
    grid-row: 1;
}

/* アイテム配置カラム　CENTER */
.st-timeline.st-center-line .st-item-wraper {
    grid-column: 3;
    grid-row: 1;
}
.st-timeline.st-center-line .st-item-wraper.st-right {
    grid-column: 3;
    grid-row: 1;
}
.st-timeline.st-center-line .st-item-wraper.st-left {
    grid-column: 1;
    grid-row: 1;
}
.st-timeline.st-center-line .st-progress-wraper {
    grid-column: 2;
    grid-row: 1;
}
.st-timeline.st-center-line .st-item-wraper.st-left .st-item {
    float: right;
}

/* アイテム配置カラム RIGHT */
.st-timeline.st-right-line .st-progress-wraper {
    grid-column: 2;
    grid-row: 1;
}
.st-timeline.st-right-line .st-item-wraper {
    grid-column: 1;
    grid-row: 1;
}

@keyframes st-pulse {
    0% {
        transform: scale(1);
        opacity: 1;
    }
    100% {
        transform: scale(1.8);
        opacity: 0;
    }
}

@media screen and (max-width: 959px) {
    /* タブレット */
    .st-timeline .st-item {
        max-width: 100%;
    }

    /* ライン中央の場合のレスポンシブ対応 */
    .st-timeline.st-center-line .st-item-container {
        grid-template-columns: 3em 1fr;
        display: grid;
    }
    .st-timeline.st-center-line .st-item-wraper {
        grid-column: 2;
        grid-row: 1;
    }
    .st-timeline.st-center-line .st-item-wraper.st-right {
        grid-column: 2;
        grid-row: 1;
    }
    .st-timeline.st-center-line .st-item-wraper.st-left {
        grid-column: 2;
        grid-row: 1;
    }
    .st-timeline.st-center-line .st-item-wraper.st-left .st-item {
        float: inherit;
    }

    .st-timeline.st-center-line .st-progress-wraper {
        position: relative;
        grid-column: 1;
        grid-row: 1;
    }

    .st-timeline.st-center-line .st-right .st-item:before,
    .st-timeline.st-center-line .st-left .st-item:before {
        border-width: 10px 10px 10px 0;
        right: inherit;
        left: -10px;
    }
}
